*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
        display: flex;
        box-sizing: border-box;
        margin: auto;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        background: rgb(241, 247, 253);
        padding: 20px 100px;
        height: 100px;
        box-shadow:10px 10px 30px ;
        margin: 25px;
}
@media screen and (min-width:480px) {
    .heading {
            display: flex;
            box-sizing: border-box;
            margin: auto;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            max-width: 1440px;
            background: rgb(241, 247, 253);
            padding: 20px 100px;
            height: 100px;
            box-shadow: 10px 10px 30px;
            margin: 25px;
        }
}
.profile_img{
    width: 50px;
    height: 50px;
}
.profile_btn{
    position: inherit;
    
}

.profile_btn {
     position: relative;
     display: inline-flex;
     box-sizing: border-box;
     -webkit-box-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     align-items: center;
     border: none;
     border-radius: 12px;
     cursor: pointer;
     transition: all 300ms ease 0s;
     width: 100%;
     height: 46px;
     font-size: 16px;
     line-height: 17.6px;
     padding: 12px 28px;
     color: rgb(255, 255, 255);
     background-color: rgb(39, 147, 255);
     display: inline-flex;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 12px;
            transition: all 300ms ease 0s;
            text-decoration: none;
            max-width: 160px;
            height: 48px;
            border: none;
            padding: 1px;
            background: linear-gradient(rgb(28, 170, 255) 0%, rgb(0, 120, 211) 100%);
            box-shadow: rgba(28, 29, 31, 0.02) 0px 20px 87px, rgba(45, 50, 59, 0.03) 0px 10px 38px, rgba(45, 50, 59, 0.05) 0px 4px 14px, rgba(45, 50, 59, 0.08) 0px 1px 5px;

}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: rgb(241, 247, 253);
        
}
.section{
    display: block;
    width: 100%;
    padding: 32px 0px;
    box-sizing: border-box;
    background-color: transparent;
}
.con1{
    margin: auto;
    text-align: center;
}
div{
    display: block;
}
.h1ff {
    margin: 0px;
    padding: 0px 0px 16px;
    letter-spacing: 0px;
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(45, 50, 59);
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 40px;
    margin: 25px;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.pp{
    margin: 0px;
    padding: 0px 0px 24px;
    letter-spacing: 0px;
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(45, 50, 59);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.con1 p {
    margin: auto;
    color: rgb(91, 102, 124);
    width: 80%;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.inside1 {
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0px;
}

.inside {
    margin: auto;
    max-width: 1440px;
    box-sizing: border-box;
    position: static;
    text-align: left;
    padding: 0px 30px;
    flex-direction: column;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.inside1> :first-child {
    margin-top: 48px;
}

.main1 {
    box-sizing: border-box;
    width: 100%;
}
.inside > :last-child {
    text-align: center;
 }

.main2 {
    box-sizing: border-box;
    width: 100%;
}
.main_con{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 0%;
    margin: auto;
    width: 100% !important;
}
.con_second{
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 414px;
    min-height: 464px;
}
.second{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    transition: all 1s ease 0s;
}
.b_cryto{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    flex-basis: 50%;
    padding: 16px 0px;
    cursor: pointer;
    color: rgb(0, 133, 255);
}
.s_cryto{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    flex-basis: 50%;
    padding: 16px 0px;
    cursor: pointer;
    color: rgb(138, 148, 166);
}
.t_main{
    padding: 24px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}
.tell1{
    flex: 2 1 0%;
    font-size: 16px;
    width: 100%;
}
.buy{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 24px;
}
.cart {
    display: flex;
    background: rgb(241, 247, 253);
    border: 1px solid rgb(212, 217, 232);
    border-radius: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 13px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}
.cart_text{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    flex: 1 1 0%;
    margin-left: 8px;
    text-align: left;
}
.innnertext{
    
    flex: 2 1 0%;
    font-size: 16px;
    width: 100%;
}
.sc-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 24px;
}
.sc-num{
    display: flex;
    background: rgb(241, 247, 253);
    border: 1px solid rgb(212, 217, 232);
    border-radius: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0px;
}
.sc-input{
    order: none;
    outline: none;
    height: 100%;
    background: transparent;
    padding: 16px 0px 16px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    width: 100%;
}



 input[type="number" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

 /* input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {} */

 input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
.sc_btn {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-image: initial;
    background: none;
    height: 100%;
    border-left: 1px solid rgb(212, 217, 232);
    padding: 16px;
    display: flex;
    min-width: 122px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    cursor: pointer;
}

button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.sc_bd{
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}
svg[Attributes Style] {
    height: 10;
    width: 10;
    color: rgb(0, 133, 255);
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.btnn{
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 12px;
    transition: all 300ms ease 0s;
    text-decoration: none;
    width: 100%;
    height: 54px;
    border: none;
    padding: 1px;
    background: linear-gradient(rgb(28, 170, 255) 0%, rgb(0, 120, 211) 100%);
    box-shadow: rgba(45, 50, 59, 0.02) 0px 20px 87px, rgba(45, 50, 59, 0.03) 0px 10px 38px, rgba(45, 50, 59, 0.05) 0px 4px 14px, rgba(45, 50, 59, 0.08) 0px 1px 5px;
}
.btn_div{
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease 0s;
    width: 100%;
    height: 52px;
    font-size: 20px;
    line-height: 22px;
    padding: 17px 38px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 147, 255);
}
.btn_div > span {
    display: inline-flex;
    letter-spacing: 0px;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    white-space: nowrap;
}
.sc-label{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgb(138, 148, 166);
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}
label{
    cursor: default;
}
.label_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
.span-label {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: rgb(241, 247, 253);
    border: 1px solid rgb(193, 201, 208);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px inset, rgba(0, 0, 0, 0.1) 0px 1px 2px inset;
    border-radius: 7px;
}
